<ion-header>
  <ion-toolbar>      
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-text-center" size="default">Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>    
    <ion-card-title>Cambiar contraseña</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-label position="floating">Contraseña Actual:</ion-label>
      <ion-input [(ngModel)]="credencial" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña Nueva:</ion-label>
      <ion-input [(ngModel)]="nuevacredencial" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirmar Contraseña Nueva:</ion-label>
      <ion-input [(ngModel)]="confirmarcredencial" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button (click)="guardar()" expand="block" fill="clear" shape="round">
        Guardar
      </ion-button>
    </ion-item>
  </ion-card-content>
</ion-card>
</ion-content>
