<ion-header>
  <ion-toolbar>           
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-text-center" size="default">Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

       <h4>Funciones disponibles</h4>
       <ion-item-divider>
         <ion-label></ion-label>
       </ion-item-divider>
       <ion-list>
         <ion-item routerLink="/catalogo">
           <ion-label color="success">Catalogo</ion-label>
          </ion-item>
        
         <ion-item routerLink="/planes">
          <ion-label color="success">Planes</ion-label>
        </ion-item>
        <ion-item routerLink="/ciclo">
          <ion-label color="success">Ciclos </ion-label>
        </ion-item>
       </ion-list>
       

    

</ion-content>
