<ion-header>
  <ion-toolbar>           
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
        
      </ion-buttons>
      <ion-title class="ion-text-center" size="default">Planes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
      <br>
      <ion-title class="ion-text-center"><strong>PLANES DE CLARO</strong></ion-title>
      <br>
      <ion-img src="./assets/imagenes/img1claro.png"></ion-img>
      <ion-img src="./assets/imagenes/planesmax.png"></ion-img>
      <ion-img src="./assets/imagenes/planesilimitados.png"></ion-img>
      <ion-img src="./assets/imagenes/cobertura.png"></ion-img>
     

   
</ion-content>
